[package]
name = "mmsdm"
version = "0.2.0"
authors = ["Eric Sheppard <eric@sheppard.cloud>", "Nayika Sheppard <nayika@eigenmo.de>"]
edition = "2018"
license = "MIT"
repository = "https://github.com/eigenmo-de/mmsdm-rs"
#maintenance = { status = "experimental" }
description = "Parse and Transform MMSDM data"

[workspace]
members = [
    "codegen",
    "xtask",
]

[dependencies]
log = "0.4"
zip = "0.5"
csv = "1.1"
chrono-tz = "0.5"
thiserror = "1"
rust_decimal = "1"
serde_json = "1"

[dependencies.serde]
version = "1"
features = ["derive"]

[dependencies.chrono]
version = "0.4"
features = ["serde"]


# [dependencies.parquet]
# version = "3.0.0"
# optional = true
# 
# [dependencies.parquet_derive]
# version = "3.0.0"
# optional = true

# [dependencies.clickhouse-rs]
# version = "0.2.0-alpha.5"
# optional = true

[dependencies.tiberius]
version = "0.5"
features = ["rust_decimal", "chrono"]
optional = true

[dependencies.futures]
version = "0.3"
optional = true


[dev-dependencies]
anyhow = "1"
# clickhouse-rs = "0.2.0-alpha.5"
tiberius = { version = "0.5", features = ["rust_decimal"] }
serde_json = "1"
env_logger = "0.8"
tokio = { version = "1", features = ["full"]  }
tokio-util = { version = "0.6", features = ["compat"]  }
flate2 = "1"
reqwest = { version = "0.11", features = ["blocking"] }
scraper = "0.12"
futures = "0.3"

[features]
sql_server = ["tiberius", "futures"]
# save_as_parquet = ["parquet", "parquet_derive"]
# clickhouse = ["clickhouse-rs"]
ancillary_services = []
asoffer = []
bids = []
billing_config = []
billing_run = []
configuration = []
demand_forecasts = []
dispatch = []
force_majeure = []
gd_instruct = []
generic_constraint = []
historical = []
irauction = []
market_config = []
market_notice = []
mcc_dispatch = []
meter_data = []
mrevent = []
mtpasa = []
network = []
p5min = []
participant_registration = []
pdpasa = []
pre_dispatch = []
prudentials = []
reserve_data = []
settlement_config = []
settlement_data = []
stpasa_solution = []
trading_data = []
voltage_instructions = []
mmsdm = ["ancillary_services","asoffer","bids","billing_config","billing_run","configuration","demand_forecasts","dispatch","force_majeure","gd_instruct","generic_constraint","historical","irauction","market_config","market_notice","mcc_dispatch","meter_data","mrevent","mtpasa","network","p5min","participant_registration","pdpasa","pre_dispatch","prudentials","reserve_data","settlement_config","settlement_data","stpasa_solution","trading_data","voltage_instructions"]
default = []
